<app-bread-crump [items]="[{text: 'Usuários', link: '/usuarios'}, {text: pageTitle}]"></app-bread-crump>

<app-page-header [page-title]="pageTitle" button-text="<< Voltar" button-link="/usuarios" button-class="btn-light">
</app-page-header>

<form [formGroup]="usuarioForm" (submit)="submitForm()">
  <div class="card mb-3">
    <div class="card-header">
      Informações sobre o usuário
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" formControlName="nome" id="nome">

          <app-form-field-error [form-control]="usuarioForm.get('nome')"></app-form-field-error>
        </div>

        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email" id="email">

          <app-form-field-error [form-control]="usuarioForm.get('email')"></app-form-field-error>
        </div>

        <!-- Campo tipo com opções "Admin" e "Comum" -->
        <div class="form-group col-md-6">
          <label for="tipo">Tipo</label>
          <select class="form-control" formControlName="tipo" id="tipo">
            <option value="">Selecione um tipo</option>
            <option value="admin">Admin</option>
            <option value="comum">Comum</option>
          </select>
          <app-form-field-error [form-control]="usuarioForm.get('tipo')"></app-form-field-error>
        </div>

        <!-- Campo status com opções "ativo" e "cancelado" -->
        <div class="form-group col-md-6">
          <label for="status">Status</label>
          <select class="form-control" formControlName="status" id="status">
            <option value="">Selecione um status</option>
            <option value="ativo">Ativo</option>
            <option value="cancelado">Cancelado</option>
          </select>
          <app-form-field-error [form-control]="usuarioForm.get('status')"></app-form-field-error>
        </div>

        <div class="form-group col-md-6">
          <label for="senha">Senha</label>
          <input type="text" class="form-control" formControlName="senha" id="senha">

          <app-form-field-error [form-control]="usuarioForm.get('senha')"></app-form-field-error>
        </div>

      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessage">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessage">{{error}}</li>
    </ul>
  </div>

  <button [disabled]="submittingForm || usuarioForm.invalid" type="submit" class="btn btn-primary btn-lg float-right">
    Salvar
  </button>
</form>